* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    /* font-variant: small-caps; */
    /* font-style: italic; */
    background-image: url(White-Honeycomb-Backgrounds.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #044662;
    padding: 15px 50px;
    justify-content: space-between;
    color: white;
}

h1{
    color: #044662;
    text-align: center;
    /* text-transform: lowercase; */
    /* text-decoration: overline; */
    text-decoration: underline;
}

p{
    /* letter-spacing: normal; */
    word-spacing: normal;
    line-height: 1.6em;
    color: #044662;
    font-weight: bold;
    background-color: #1372a94b;
    padding: 20px;
    border-radius: 10px;
    /* text-indent: 15px; */
    /* text-align: center; */
    /* text-decoration:line-through; */
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: rgba(255, 255, 255, 0.338);
}

.navbar ul li:first-child{
    text-decoration: underline;
}
.navbar ul li:first-child:hover{
    color: rgba(255, 255, 255, 0.338);
}

.navbar img{
    height: 50px;
    width: 50px;
    border-radius: 30%;
    padding: 3px;
    background-color: white;
}

p{
    /* width: 50%; */
    text-align: justify;
    line-height: 1.6em;
}

ul li{list-style: none;}